@import "tailwindcss";

:root {
  --background: #fff8fa;
  --foreground: #3f3f46;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-script: var(--font-great-vibes);
  --font-title: var(--font-cormorant);
}

* {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    180deg,
    #fff8fa 0%,
    #fffefe 40%,
    #fff6f8 100%
  );

  color: var(--foreground);

  font-family: var(--font-geist-sans);

  overflow-x: hidden;
}

/* Fontes */

.font-script {
  font-family: var(--font-great-vibes);
}

.font-title {
  font-family: var(--font-cormorant);
}

/* Seleção */

::selection {
  background: #fb7185;
  color: white;
}

/* Barra de rolagem */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff5f7;
}

::-webkit-scrollbar-thumb {
  background: #fda4af;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fb7185;
}

/* Animações */

@keyframes floatHeart {
  0% {
    transform: translateY(40px) scale(.8);
    opacity: 0;
  }

  20% {
    opacity: .35;
  }

  100% {
    transform: translateY(-250px) scale(1.2);
    opacity: 0;
  }
}

.animate-heart {
  animation: floatHeart 8s linear infinite;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp .9s ease both;
}

@keyframes floating-heart {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: .25;
  }

  50% {
    transform: translateY(-50vh) translateX(-12px) rotate(-8deg);
    opacity: .18;
  }

  100% {
    transform: translateY(-120vh) translateX(15px) rotate(8deg);
    opacity: 0;
  }
}

.animate-floating-heart {
  animation-name: floating-heart;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}